<div class="custom-social-bar">

  <a href="https://scholar.google.de/citations?user=rEZgo9cAAAAJ&hl=en&authuser=1" target="_blank">
    <img src="images/icons/google-scholar-brands-solid-full.svg" alt="Google Scholar">
  </a>

  <a href="https://orcid.org/0000-0002-2899-2916" target="_blank">
    <img src="images/icons/orcid-brands-solid-full.svg" alt="ORCID">
  </a>

  <a href="https://www.linkedin.com/in/thomasrobotham/" target="_blank">
    <img src="images/icons/linkedin-brands-solid-full.svg" alt="ORCID">
  </a>

  <a href="https://www.researchgate.net/profile/Thomas-Robotham/research" target="_blank">
    <img src="images/icons/researchgate-brands-solid-full.svg" alt="ORCID">
  </a>

  <a href="https://www.audiolabs-erlangen.de/fau/assistant/robotham" target="_blank">
    <img src="images/icons/building-columns-solid-full.svg" alt="ORCID">
  </a>


</div>